@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #131720;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2F80ED;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
